<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About me</title>
	<meta name="description" content="The Portfolio of Ben Tsao, product marketer and full stack web developer">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css.map">
	<link rel="stylesheet" href="/animate.min.css">
	<link rel="stylesheet" href="/animsition.min.css">
	<link rel="stylesheet" href="/hover.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
	<script src="/jquery-2.1.3.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/jquery.lettering.js"></script>
	<script src="/jquery.textillate.js"></script>
	<script src="/jquery.animsition.min.js"></script>
	<script src="/script.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-62512200-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>
	<div id="wrapper" class="animsition">
		<header>
			<a class="homelink" href="/">Home <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
			<ul>
				<li><a href="/marketing" class="animsition-link">Marketing</a></li>
				<li><a href="/coding" class="animsition-link">Coding</a></li>
			</ul>
		</header>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1 style="font-weight:900;font-size:5vw;">a little about me...</h1>
					<p style="font-size:1.3vw;">My name is Ben and I've been doing marketing stuff for the last 5 years or so. Recently, I realized that a particular set of skills would help me in order to truly make it out here in Silicon Valley. As a Bay Area native, I wasn't going anywhere. I have always been interested in coding, but never had the time to learn due to work and other commitments.</p>
					<p style="font-size:1.3vw;">Then I heard about coding bootcamps where they specialize in teaching people how to become developers in under 3 months. I applied to a few and ended up choosing Coding Dojo because they did not require any prior programming experience. That was great for a novice like me since they would teach three full stacks, whatever that meant. :) It ended up being a great decision, and I learned a bunch of fun, useful stuff including how to put together this website you're on now from scratch.</p>
					<p style="font-size:1.3vw;">My passion for marketing is as strong as ever and I consider that to be my main expertise. And now with the background of a web developer, I feel that I can do so much more than before. Other interests include: artisan cuisine, playing video games, working out, and baseball (go Giants!).</p>
					<p style="font-size:1.3vw; font-style:italic; font-weight:100;">Programming specialities include: Javascript, Node.js, AngularJS, PHP, HTML, CSS, and Ruby on Rails (in progress)</p>
				</div>
				<div class="col-md-4" style="text-align:right;">
					<h2 style="font-size:3vw;">Contact</h2>
					<p><b>Email: </b><a href="mailto:btsao028@gmail.com">btsao028@gmail.com</a></p>
				    <p><a href="https://github.com/bentsao28" style="color:black;"><i class="fa fa-github" style="font-size:100px;"></i></a></p>
					<a href="https://www.linkedin.com/in/bentsao">
				          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Ben Tsao's profile on LinkedIn"></a>
				</div>
			</div>
		</div>
		<footer class="footer">
			<h5>Contact: <a href="mailto:btsao028@gmail.com"><i class="fa fa-envelope"></i></a>&nbsp&nbsp<a href="https://www.linkedin.com/in/bentsao"><i class="fa fa-linkedin-square"></i></a>&nbsp&nbsp<a href="https://github.com/bentsao28"><i class="fa fa-github"></i></a></h5>
		 	<h5>Copyright &copy 2015 Ben Tsao</h5>
		</footer>
	</div>
</body>
</html>