<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Coding Projects</title>
	<meta name="description" content="The Portfolio of Ben Tsao, product marketer and full stack web developer">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css.map">
	<link rel="stylesheet" href="/animate.min.css">
	<link rel="stylesheet" href="/animsition.min.css">
	<link rel="stylesheet" href="/hover.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
	<script src="/jquery-2.1.3.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/jquery.lettering.js"></script>
	<script src="/jquery.textillate.js"></script>
	<script src="/jquery.animsition.min.js"></script>
	<script src="/script.js"></script>
</head>
<body>
	<div id="wrapper" class="animsition">
		<header>
			<a class="homelink" href="/">Home <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
			<ul>
				<li><a href="/marketing" class="animsition-link">Marketing</a></li>
				<li><a href="/about" class="animsition-link">About</li></a>
			</ul>
		</header>
		<footer class="footer">
			<h5>Contact: <a href="mailto:btsao028@gmail.com"><i class="fa fa-envelope"></i></a>&nbsp&nbsp<a href="https://www.linkedin.com/in/bentsao"><i class="fa fa-linkedin-square"></i></a></h5>
		 	<h5>Copyright &copy 2015 Ben Tsao</h5>
		</footer>
	</div>
</body>
</html>