<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Marketing Projects</title>
	<meta name="description" content="The Portfolio of Ben Tsao, product marketer and full stack web developer">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css.map">
	<link rel="stylesheet" href="/animate.min.css">
	<link rel="stylesheet" href="/animsition.min.css">
	<link rel="stylesheet" href="/hover.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lobster|Orbitron|Lato:100,300,400,900' rel='stylesheet' type='text/css'>
	<script src="/jquery-2.1.3.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/jquery.lettering.js"></script>
	<script src="/jquery.textillate.js"></script>
	<script src="/jquery.animsition.min.js"></script>
	<script src="/script.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-62512200-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>
	<div id="wrapper" class="animsition">
		<header>
			<a class="homelink" href="/">Home <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
			<ul>
	        	<li><a href="/coding" class="animsition-link">Coding</a></li>
				<li><a href="/about" class="animsition-link">About</li></a>
			</ul>
		</header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 style="font-family:'Lobster',cursive;text-align:center;font-size:3.8vw; margin-top:4%;margin-bottom:4%;">Marketing Projects</h1>
				</div>
			</div>
			<div class="row" style="text-align:center; margin-bottom:4%;">
				<div class="col-md-4">
					<div class="markimage second">
						<img src="/images/ads.jpg" style="height:300px;width:300px;">
						<div class="markmask"></div>
						<div class="markcontent">
							<h2>Magazine Ads</h2>
							<p>Various magazine ads from Southwest Airlines, PSP sports, and more</p>
							<a data-toggle="modal" data-target="#myModal1" class="markinfo">Read More</a>
						</div>
						<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h3 class="modal-title" id="myModalLabel">Magazine Ads</h3>
						        <h5>Concepts and copy for all magazine ads conceived by me. If you want it in high resolution, just ask me!</h5>
						      </div>
						      <div class="modal-body">
						        <div class="container-fluid">
						        	<div class="row" style="margin-bottom:20px;">
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>Southwest Airlines July 2013 - Back Cover</h5>
						        				<img src="/images/ad1.jpg">
						        			</div>					
						        		</div>
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>Southwest Airlines September 2013 - Back Cover</h5>
						        				<img src="/images/ad2.jpg">
						        			</div>	
						        		</div>
						        	</div>
						        	<div class="row" style="margin-bottom:20px;">
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>Southwest Airlines December 2013 - Back Cover</h5>
						        				<img src="/images/ad3.jpg">
						        			</div>					
						        		</div>
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>Southwest Airlines July 2014 - Back Cover</h5>
						        				<img src="/images/ad4.jpg">
						        			</div>	
						        		</div>
						        	</div>
						        	<div class="row">
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>PSP Sports September 2013 - Insert</h5>
						        				<img src="/images/ad5.jpg">
						        			</div>					
						        		</div>
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>NY Knicks Gamebook October 2014</h5>
						        				<img src="/images/ad6.jpg">
						        			</div>	
						        		</div>
						        	</div>
						        </div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="markimage second">
						<img src="/images/online.png" style="height:300px;width:300px;">
						<div class="markmask"></div>
						<div class="markcontent">
							<h2>Online</h2>
							<p>Websites, landing pages, product pages, contests, and other things related to online</p>
							<a data-toggle="modal" data-target="#myModal2" class="markinfo">Read More</a>
						</div>
						<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h3 class="modal-title" id="myModalLabel">Online Stuff</h3>
						        <h5>Various webpages and landing pagess. I've got a lot more, but I don't want to overload your bandwidth, so if you want to see more, just ask!</h5>
						      </div>
						      <div class="modal-body">
						        <div class="container-fluid">
						        	<div class="row" style="margin-bottom:30px;">
						        		<div class="col-md-12">
						        			<div class="adimage">
						        				<h5>ASUS Tablet Microsite - Responsive site featuring new tablets and co-branded with Intel. All copy on site done by me. At its peak, received around 6000 visits a day. Feel free to navigate within this window!</h5>
						        				<iframe src="http://www.asus.com/us/site/tablets/" style="height:450px;width:800px;"></iframe>
						        			</div>					
						        		</div>					    
						        	</div>
						        	<div class="row" style="margin-bottom:30px;">
						        		<div class="col-md-12">
						        			<div class="adimage">
						        				<h5>Mother's Day contest promotion page - Wrote copy, designed concept, and chose images. Received over 10K facebook entries with 0 ad spend</h5>
						        				<iframe src="http://promos.asus.com/us/memopad/mothers-day/" style="height:450px;width:800px;"></iframe>
						        			</div>					
						        		</div>					    
						        	</div>
						        	<div class="row">
						        		<div class="col-md-6">
						        			<div class="adimage" style="height:540px;width:390px;overflow:auto;">
						        				<h5>MeMO Pad 8 Channel landing page - Wrote all copy and used with online channel partners such as Newegg, TigerDirect, MicroCenter, GameStop</h5>
						        				<img src="/images/lp3.jpg" style="width:370px;height:auto;"> 
						        			</div>					
						        		</div>
						        		<div class="col-md-6">
						        			<div class="adimage" style="height:540px;width:390px;overflow:auto;">
						        				<h5>MeMO Pad Series Channel landing page - Wrote all copy and used with online channel partners such as Newegg, TigerDirect, MicroCenter, GameStop</h5>
						        				<img src="/images/lp2.jpg" style="width:370px;height:auto;">
						        			</div>	
						        		</div>
						        	</div>							    
						        </div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="markimage second">
						<img src="/images/valleyfair.jpg" style="height:300px;width:300px;">
						<div class="markmask"></div>
						<div class="markcontent">
							<h2>Billboard & Tablet Bar</h2>
							<p>Billboard and tablet experience at Westfield Valley Fair</p>
							<a data-toggle="modal" data-target="#myModal3" class="markinfo">Read More</a>
						</div>
						<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h3 class="modal-title" id="myModalLabel">Westfield Valley Fair Dining Terrace</h3>
						        <h5>From November 2013 - October 2014. I was the project manager in reaching a deal with Westfield to feature our tablets during the launch of the new dining terrace at Valley Fair Mall in San Jose, California</h5>
						      </div>
						      <div class="modal-body">
						        <div class="container-fluid">
						        	<div class="row" style="margin-bottom:20px;">
						        		<div class="col-md-12">
						        			<div class="adimage">
						        				<h5>Prior to launch, I was able to negotiate some billboard space. Below is the design with copy by me</h5>
						        				<img src="/images/vf3.jpg" style="width:800px;height:auto;">
						        			</div>					
						        		</div>					    
						        	</div>	
						        	<div class="row" style="margin-bottom:20px;">
						        		<div class="col-md-12">
						        			<div class="adimage">
						        				<h5>Here is the billboard displayed in the mall</h5>
						        				<img src="/images/vf4.jpg" style="width:800px;height:auto;">
						        			</div>					
						        		</div>					    
						        	</div>					     
						        	<div class="row">
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>Here are the tablets displayed in the terrace</h5>
						        				<img src="/images/vf1.jpg" style="width:375px;height:auto;"> 
						        			</div>					
						        		</div>
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>Another closer shot with prominent branding</h5>
						        				<img src="/images/vf2.jpg" style="width:375px;height:auto;">
						        			</div>	
						        		</div>
						        	</div>							    
						        </div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="text-align:center; margin-bottom:4%;">
				<div class="col-md-4">
					<div class="markimage second">
						<img src="/images/training.jpg" style="height:300px;width:300px;">
						<div class="markmask"></div>
						<div class="markcontent">
							<h2>Training Guides</h2>
							<p>Training guides for media, sales, distribution partners, and channel partners</p>
							<a data-toggle="modal" data-target="#myModal4" class="markinfo">Read More</a>
						</div>
						<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h3 class="modal-title" id="myModalLabel">Training Guides</h3>
						        <h5>As a product marketer, I need to know my products in great depth, so I've written many product guides to train the media, broadcast, sales teams, distributors, and channel partners. Due to the nature of these, I'll just include a few excerpts but won't be including the rest. If you would like to know more, then please let me know.</h5>
						      </div>
						      <div class="modal-body">
						        <div class="container-fluid">
						        	<div class="row">
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>An excerpt on the training guide on the camera features</h5>
						        				<img src="/images/tg1.png" style="width:375px;height:auto;"> 
						        			</div>					
						        		</div>
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>A how-to on how to register included services</h5>
						        				<img src="/images/tg2.png" style="width:375px;height:auto;">
						        			</div>	
						        		</div>								    
						        	</div>			    
						        </div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="markimage second">
						<img src="/images/malltower.jpg" style="height:300px;width:300px;">
						<div class="markmask"></div>
						<div class="markcontent">
							<h2>Mall Tour 2013</h2>
							<p>First nationwide ASUS mall tour at 10 Westfield malls across the country</p>
							<a data-toggle="modal" data-target="#myModal5" class="markinfo">Read More</a>
						</div>
						<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h3 class="modal-title" id="myModalLabel">ASUS Mall Tour</h3>
						        <h5>November 2013 - January 2014. I led the campaign for the first nationwide mall tour for ASUS North America in 10 Westfield malls across the country. With a budget of only $500,000, I was able to secure a staffing agency, production agency for fixtures, rental space, and shipping costs. Overall, the campaign saw over 5 million mass impressions and 22,000 on hand demonstrations.</h5>
						      </div>
						      <div class="modal-body">
						        <div class="container-fluid">
						        	<div class="row" style="margin-bottom:20px;">
						        		<div class="col-md-12">
						        			<div class="adimage">
						        				<h5>This was our KV for the tour. Concept of the collage and blue color was derived by me and designed by our team</h5>
						        				<img src="/images/mt1.jpg" style="width:800px;height:auto;">
						        			</div>					
						        		</div>					    
						        	</div>	
						        	<div class="row">
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>A look at the campaign live and running in one of the malls. The campaign also included contests and giveaways</h5>
						        				<img src="/images/mt2.jpg" style="width:375px;height:auto;"> 
						        			</div>					
						        		</div>
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>A rendering of the footprint and our fixtures. Tables used a previous design, but the tower was an original concept</h5>
						        				<img src="/images/mt3.png" style="width:375px;height:auto;">
						        			</div>	
						        		</div>								    
						        	</div>			    
						        </div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="markimage second">
						<img src="/images/youtube.png" style="height:300px;width:300px;">
						<div class="markmask"></div>
						<div class="markcontent">
							<h2>Miscellaneous</h2>
							<p>Videos, scripts, and anything else</p>
							<a data-toggle="modal" data-target="#myModal6" class="markinfo">Read More</a>
						</div>
						<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h3 class="modal-title" id="myModalLabel">Other Stuff</h3>
						        <h5>Just some other stuff that doesn't really belong anywhere</h5>
						      </div>
						      <div class="modal-body">
						        <div class="container-fluid">
						        	<div class="row">
						        		<div class="col-md-12">
						        			<div class="adimage">
						        				<h5>Together with Intel, we wanted to get the word out about our new tablets with Intel processors, so we created a digital campaign with the help of RED Interactive agency. Videos were created by RED with the consult of me and Intel. Overall saw over 1 million YouTube views with much more on other channels</h5>
						        			</div>					
						        		</div>					    
						        	</div>	
						        	<div class="row" style="margin-bottom:20px">
						        		<div class="col-md-3">
						        			<div class="adimage">
						        				<iframe width="190" height="107" src="https://www.youtube.com/embed/NDguAVYGDfM" frameborder="0" allowfullscreen></iframe>
						        			</div>					
						        		</div>
						        		<div class="col-md-3">
						        			<div class="adimage">
						        				<iframe width="190" height="107" src="https://www.youtube.com/embed/eTVu97geVXs" frameborder="0" allowfullscreen></iframe>
						        			</div>	
						        		</div>
						        		<div class="col-md-3">
						        			<div class="adimage">
						        				<iframe width="190" height="107" src="https://www.youtube.com/embed/e7T_xDRHQ7A" frameborder="0" allowfullscreen></iframe>
						        			</div>					
						        		</div>
						        		<div class="col-md-3">
						        			<div class="adimage">
						        				<iframe width="190" height="107" src="https://www.youtube.com/embed/D_izvUFb6D0" frameborder="0" allowfullscreen></iframe>
						        			</div>	
						        		</div>											    
						        	</div>	
						        	<div class="row">
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>A superbowl contest on Facebook. Copy and contest details created by me</h5>
						        				<img src="/images/misc1.jpg" style="width:375px;height:auto;"> 
						        			</div>					
						        		</div>
						        		<div class="col-md-6">
						        			<div class="adimage">
						        				<h5>A press release for a new tablet. Information and edits done by me</h5>
						        				<img src="/images/misc2.png" style="width:375px;height:auto;">
						        			</div>	
						        		</div>								    
						        	</div>			    		    
						        </div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<h5>Contact: <a href="mailto:btsao028@gmail.com"><i class="fa fa-envelope"></i></a>&nbsp&nbsp<a href="https://www.linkedin.com/in/bentsao"><i class="fa fa-linkedin-square"></i></a>&nbsp&nbsp<a href="https://github.com/bentsao28"><i class="fa fa-github"></i></a></h5>
		 	<h5>Copyright &copy 2015 Ben Tsao</h5>
		</footer>
	</div>
</body>
</html>